<div class="col-sm-12">
  <dl class="dl-horizon">
    <dt><%=t('activerecord.attributes.guide.license_flg')%>：</dt>
    <dd><%= @guide.license_flg.to_s === "1" ? t('has') : t('not')%></dd>
  </dl>
  <div>
    <%if @guide.license_flg.to_s === "1" && @guide.licence_picture.present?%>
      <%= licence_image_tag @guide,{style: "max-width: 100px"} %>
    <%end%>
  </div>
  <hr>
</div>
<div class="col-sm-12">
  <dl class="dl-horizon">
    <dt><%=t('activerecord.attributes.member.gender')%>：</dt>
    <dd><%= @guide.member.gender.to_s === "1" ? t('male') : t('female')%></dd>
  </dl>
</div>
<div class="col-sm-12">
  <dl class="dl-horizon">
    <dt><%=t('activerecord.attributes.guide.experience')%>：</dt>
    <dd><%= @guide.experience%></dd>
  </dl>
</div>
<div class="col-sm-12">
  <dl class="dl-horizon">
    <dt><%=t('activerecord.attributes.guide.birth_year')%>：</dt>
    <dd><%= @guide.birth_year%></dd>
  </dl>
</div>
<div class="col-sm-12">
  <dl class="dl-vertical">
    <dt><%=t('activerecord.attributes.guide.guide_cities')%>：</dt>
    <%if @guide.guide_cities.present?%>
      <% @guide.guide_cities.each do |city| %>
        <dd><%= city.city_master.send("text_#{I18n.locale}")%></dd>
      <%end%>
    <%end%>
  </dl>
  <hr/>
</div>
<div class="col-sm-12">
  <dl class="dl-vertical">
    <dt><%=t('activerecord.attributes.guide.guide_languages')%>：</dt>
    <%if @guide.guide_languages.present?%>
      <% @guide.guide_languages.each do |language| %>
        <dd><%= "#{language.language_code.send("text_#{I18n.locale}")}:  #{language.language_skill.send("text_#{I18n.locale}")}"%></dd>
      <%end%>
    <%end%>
  </dl>
  <hr/>
</div>
<div class="col-sm-12">
  <%if !current_member.present? || current_member.traveler.present?%>
    <%= render "booking_button"%>
  <%end%>
</div>