<% if @reviews.present? && @reviews.length > 0 %>
    <% @reviews.each do |rev|  %>
      <div id="review_display_div" class="panel panel-info">
        <div class="panel-heading header-pointer">
          <%=star_image_tag(rev.star_master)%>
          <span class="span-height"><%= rev.title%></span>
          <div class="glyphicon glyphicon-minus float-right"></div>
        </div>
        <div class="panel-body" style="min-height: 97px;">
          <div class="row">
            <div class="col-xs-5 col-sm-2">
              <div class="thumbnail">
                <%= link_to(member_image_tag(rev.booking.traveler.member,{style: "max-width: 100px;"}),"#") %>
                <div class="caption">
                  <h4><%= rev.booking.traveler.member.first_name + "  " + rev.booking.traveler.member.last_name%></h4>
                </div>
              </div>
            </div>
            <div class="col-xs-7 col-sm-10">
              <%= rev.detail%>
            </div>
          </div>
        </div>
        <div class="panel-footer"><%= "#{t('.review_date')}:#{rev.updated_at.strftime("%Y/%m/%d %H:%M:%S")}"%></div>
      </div>        
    <% end%>
    <script type="text/javascript">
      jQuery(function($){
        $("#review_display_div div.panel-heading.header-pointer").on("click",function(){
          $(this).nextAll("div[class*='panel-']").toggle(function(){
            $(document).trigger("resize");
          });
          $(this).children(".glyphicon").toggleClass("glyphicon-minus glyphicon-plus");
        });
      });
    </script>
<% else%>
  <p><%=t('.review_empty')%></p>
<% end%>