<div style="margin-top:-20px;">
  <h2><%=t('.profile_title')%></h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <pre class="pre-style"><%= @guide.profile%></pre>
    </div>
  </div>
  <h2><%=t('.service_title')%></h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <pre class="pre-style"><%= @guide.guide_service%></pre>
    </div>
  </div>
  <h2><%=t('.transportation_title')%></h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <pre class="pre-style"><%= @guide.guide_transportation%></pre>
    </div>
  </div>
  <h2><%=t('.interest_title')%></h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <pre class="pre-style"><%= @guide.guide_interest%></pre>
    </div>
  </div>
</div>
<div>
  <h2><%=t('.review_title')%></h2>
  <div class="row">
    <%= render "review_summary"%>
  </div>
  <div>
    <h3><%=t('.review_list_title')%></h3>
    <%= render "review_list"%>
  </div>
</div>