<div style="margin-top:-20px;">
  <h2>プロフィル</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><%= @guide.profile%></p>
    </div>
  </div>
  <h2>サンプル</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><%= @guide.guide_service%></p>
    </div>
  </div>
  <h2>交通手段</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><%= @guide.guide_transportation%></p>
    </div>
  </div>
  <h2>趣味興味</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><%= @guide.guide_interest%></p>
    </div>
  </div>
</div>
<div>
  <h2>会員レビュー</h2>
  <div class="row">
    <%= render "review_summary"%>
  </div>
  <div>
    <h3>レビュー一覧</h3>
    <%= render "review_list"%>
  </div>
</div>