<div style="margin-top:-20px;">
  <h2><%=t('profile_title')%></h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><%= @guide.profile%></p>
    </div>
  </div>
  <h2><%=t('service_title')%></h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><%= @guide.guide_service%></p>
    </div>
  </div>
  <h2><%=t('transportation_title')%></h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><%= @guide.guide_transportation%></p>
    </div>
  </div>
  <h2><%=t('interest_title')%></h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><%= @guide.guide_interest%></p>
    </div>
  </div>
</div>
<div>
  <h2><%=t('review_title')%></h2>
  <div class="row">
    <%= render "review_summary"%>
  </div>
  <div>
    <h3><%=t('review_list_title')%></h3>
    <%= render "review_list"%>
  </div>
</div>