
<!--slider start-->
<section id="home" class="slider-banner">
		<div class="main-slider">
			<ul class="slides">
				<li>
					<img src="/assets/castle-07.jpg" alt="" class="">

				</li>
				<li>
					<img src="/assets/castle-01.jpg" alt="" class="">

				</li>
				<li>
					<img src="/assets/castle-05.jpg" alt="" class="">

				</li>
			</ul><!--slides end-->
			 <div class="slider-overlay">
						<div class="slider-table">
							<div class="slider-vm">
							<!-- cd-intro -->
							<div class="cd-intro">
								<h1 class="cd-headline clip is-full-width">
                  <font color=#c52d2f ><%= t(".caption")%></font>
								</h1>
                <div class="search d7">
									<%= form_for(@top_search_guide, url: search_guides_path, html: { method: :get, role: 'search' }) do |f| %>
										<%= f.text_field :city, :placeholder => t('search_place'),:id => "txtNavSearchCity" %>
										<!--%= submit_tag t('search_button'),:name => "top_search",:class => "btn btn-primary"%>-->
									<button type="submit" name="nav_search">
											<i class="glyphicon glyphicon-search" aria-hidden="true"></i> <!--%= t('search_button')%-->
										</button>
									<% end %>
            		  <!--input type="text" placeholder="Search...">
            		  <button type="submit"><i class="glyphicon glyphicon-search "></i></button-->

              </div> <!-- search d7 -->
            </div></div></div>
					</div><!--slides overlay end-->
		</div><!--main slider-->

	</section>

<!-- content Section -->
<section  class="content-section">
   <div class="row no-margin">
	<div class="col-sm-3 no-padding">
	  <div class="single_process" style="background:#C41735;">
  <h4 class="h4-style"><span>01</span> <%= t(".search01")%></h4>
  <p><%= t(".search_p")%></p>
</div>
	</div>
	<div class="col-sm-3 no-padding">
	  <div class="single_process" style="background:#E41B3F;">
  <h4 class="h4-style"><span>02</span> <%= t(".choose02")%></h4>
  <p><%= t(".choose_p")%></p>
</div>
	</div>
	<div class="col-sm-3 no-padding">
	  <div class="single_process" style="background:#E62B4C;">
  <h4 class="h4-style"><span>03</span> <%= t(".book03")%></h4>
  <p><%= t(".book_p")%></p>
</div>
	</div>
	<div class="col-sm-3 no-padding">
	  <div class="single_process" style="background:#E73C5A;">
  <h4 class="h4-style"><span>04</span> <%= t(".evaluate04")%></h4>
  <p><%= t(".evaluate_p")%></p>
</div>
	</div>
</div>
</section>
<!--start services-->
<section id="services" class="all-space" style="background: url(/assets/dark_brick_wall.png);">

		<div class="container">
		<div class="row">
			<div class="col-lg-12 col-xs-12 scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1">
				<h1 class="section-heading h1-style" style="color:#fff"><%= t(".search02")%></h1>
				<p style="color:#fff"><%= t(".searching_way")%></p>

			</div>
		</div>
		<div class="height-60"> </div>
			<div class="row">

				<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
					<ul class="row list-unstyled services-list">
						<li class="col-sm-6 col-xs-12 clearfix">
							<i class="glyphicon glyphicon-comment"></i>
							<div class="content">
    						<h2 class="h2-style"><%= t(".bylanguage")%></h2>
    						<p><%= t(".bylanguage_p")%></p>
							</div>
						</li><!--service col end with li-->
						<li class="col-sm-6 col-xs-12 clearfix">
							<i class="glyphicon glyphicon-globe"></i>
							<div class="content">
    						<h2 class="h2-style"><%= t(".bycity")%></h2>
    						<p><%= t(".bycity_p")%></p>
							</div>
						</li>
						<li class="col-sm-6 col-xs-12 clearfix">
							<i class="glyphicon glyphicon-heart"></i>
							<div class="content">
                <h2 class="h2-style"><%= t(".bygender")%></h2>
    						<p><%= t(".bygender_p")%></p>
							</div>
						</li><!--service col end with li-->
						<li class="col-sm-6 col-xs-12 clearfix ">
							<i class="glyphicon glyphicon-credit-card"></i>
							<div class="content">
                <h2 class="h2-style"><%= t(".bylicense")%></h2>
    						<p><%= t(".bylicense_p")%></p>
							</div>
						</li><!--service col end with li-->
					</ul><!--service list end-->
				</div>
			</div><!--row end-->
		</div>
	</section>
<!--end services-->
<script>
//home slider
jQuery(document).ready(function($){
    $('.main-slider').flexslider({
        controlNav: false,
        directionNav: true,
        slideshowSpeed: 4000,
        prevText: "<i class='ion-chevron-left'></i>",
        nextText: "<i class='ion-chevron-right'></i>"
    });
});
//home slider
(function(){
var config = {
    viewFactor : 0.15,
    duration   : 800,
    distance   : "0px",
    scale      : 0.8
};

window.sr = ScrollReveal( config );

if (sr.isSupported()) {
    document.documentElement.classList.add('sr');
}
})();

//Sliders owlCarousel - start
/* -------------------------------------------------------- */
jQuery(document).ready(function($){
		$("#owl-clients").owlCarousel({
			navigation: true,
			items: 6,
			itemsDesktop: [1200, 6],
			itemsTablet: [800, 3],
			itemsMobile: [700, 2],
	autoPlay : true,
	pagination : false,
	paginationNumbers: false,
	});
});
/* -------------------------------------------------------- */
//  Owl Carousels - end
/* -------------------------------------------------------- */
</script>
