<!-- message 送信画面-->
<% content_for :main_header do %>
<% end %>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <h2>ガイド</h2>
    <div class="thumbnail">
      <%= link_to(member_image_tag(@message.receiver),"#") %>
      <div class="caption">
        <div class="text-primary">
          <h3><%= @message.receiver.first_name + "  " + @message.receiver.last_name%></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
      <%= form_for(@message, html: { class: "form-horizontal"} ) do |f| %>
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label :Subject, class: "control-label" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :title, disabled: params[:action] == "show", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label :Message %>
          </div>
          <div class="col-sm-6">
            <%= f.text_area :content, disabled: params[:action] == "show", rows: "10", class: "form-control" %>
          </div>
        </div>
      <% end %>
  </div>

<%= debug(params) if Rails.env.development? %>

<%= link_to 'all_sent_messages', messages_path, class: "btn btn-primary pull-right" %>
