<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.booking_schedule.traveler_date") %></th>
      <th><%= t("activerecord.attributes.booking_schedule.traveler_count") %></th>
      <th><%= t("activerecord.attributes.booking_schedule.city_master_id") %></th>
    </tr>
  </thead>
  <tbody>
    <% booking.booking_schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.traveler_date.strftime("%Y/%m/%d") %></td>
        <td><%= schedule.traveler_count  %></td>
        <td><%= schedule.city_master.send("text_#{I18n.locale}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
