<%= render "tab" %>

<% @bookings.each do |booking| %>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <%= render "thumbnail", booking: booking %>
  </div>
  <div class="col-xs-12 col-sm-9">
    <button class="btn btn-info margin-bottom-10">
      <%= booking.status_master.send("text_#{I18n.locale}")%>
    </button>
    <div><%= booking.status_master.send("text_#{I18n.locale}")%></div>
    <%= render "table", booking: booking %>

    <div class="col-sm-offset-3 col-sm-9 text-right">
      <% if booking.status_master.id == 1 %>
        <%= link_to t("update_button"), edit_guide_booking_path(booking), class: "btn btn-primary" %>
      <% else %>
        <%= link_to t("detail_button"), guide_booking_path(booking), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-12 text-right">
    <%= paginate @bookings %>
  </div>
</div>


<%= debug(params) if Rails.env.development? %>
