<div class="banner">
  <div class="container">
    <div class="logo"><h1>
    <%= link_to('Tabitomo', top_path, class: "navbar-brand" )%>
  </h1>
  </div>

    <div class="top-nav">
      <nav class="navbar navbar-default navbar-right">

          <!-- 小さいサイズのディスプレイの際表示するトップの際表示するトップバー -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              Menu
            </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if member_signed_in? %>
              <li class="dropdown">
                <a id="mypage" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span><%= current_member.first_name%> </span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="min-width: 100px" role="memu">
                  <%= render "shared/tab_link"%>
                </ul>
              </li>
              <li><%= link_to t('sign_out'), destroy_member_session_path, :method => :delete %></li>
              <%else%>
              <li><%= link_to t('login_link'), new_member_session_path %></li>
              <li><%= link_to t('member_sigup_link'), new_member_registration_path %></li>
              <% end %>
              <li class="dropdown">
                <a id="language_change" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span id="language_name"></span>
                  <span class="caret"></span>
                </a>
                <ul id="language_list" class="dropdown-menu" style="min-width: 100px" role="memu">
                  <li><%= link_to('English','',{"data-language" => 'en'})%></li>
                  <li><%= link_to('日本語','',{"data-language" => 'ja'})%></li>
                  <li><%= link_to('한국어','',{"data-language" => 'ko'})%></li>
                  <li><%= link_to('中文','',{"data-language" => 'zh'})%></li>
                </ul>
              </li>
              <div class="clearfix"> </div>
            </ul>
            <%= form_for(@top_search_guide, url: search_guides_path, html: { method: :get, class: 'navbar-form navbar-right', role: 'search' }) do |f| %>
              <%= f.text_field :city, class: 'form-control',:placeholder => t('search_place'),:size => "30",:id => "txtNavSearchCity" %>
              <!--%= submit_tag t('search_button'),:name => "top_search",:class => "btn btn-primary"%>-->
              <button class="btn btn-default btn-primary" type="submit" name="nav_search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%= t('search_button')%>
              </button>
            <% end %>
          </div><!-- /collapse navbar-collapse -->
      </nav>
    </div> <!--top-nav-->
    <div class="clearfix"> </div>
  </div>
</div>
