<%= form_for @member, :url => traveler_path do |mp| %>
    <div class="form-group">
      <div class="col-md-4 ">
        <div class="thumbnail text-center-custom">
          <%= mp.fields_for :member_picture do |imgf| %>
                  <%= member_image_tag @member %>
                  <div>
                    <% if imgf.object.present? && !imgf.object.new_record? %>
                      <%= imgf.check_box :_destroy %>
                      <%= imgf.label :_destroy %>
                      <%= imgf.hidden_field :id %>
                    <% end %>
                  </div>
                  <label class="btn btn-info btn-sm">
                    ＋<%= t('select_picture') %>
                    <%= imgf.file_field :uploaded_image ,:class => "hidden"%>
                  </label>
                  <label></label>
                </div>
            </div>
          <% end %>
    </div>
  <div class="form-group">
    <div class="col-md-8 ">
        <div class="form-group">
          <div class="col-sm-2">
            <%= mp.label :last_name, class: "control-label text-left-custom" %></br>
          </div>
          <div class="col-sm-10">
            <%= mp.text_field :last_name, :class => "form-control" %></br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <%= mp.label :first_name, class: "control-label text-left-custom" %></br>
          </div>
          <div class="col-sm-10">
            <%= mp.text_field :first_name, :class => "form-control" %></br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <%= mp.label :gender, class: "control-label text-left-custom" %></br>
          </div>
          <div class="col-sm-10">
            <% options = [[t("male"), 1], [t("female"), 2]] %>
            <%= mp.select :gender, options, {:prompt => true }, {:class => "form-control"} %></br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <%= mp.label :telphone, class: "control-label text-left-custom" %></br>
          </div>
          <div class="col-sm-10">
            <%= mp.telephone_field :telphone, :class => "form-control" %></br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <%= mp.label :email, class: "control-label text-left-custom" %></br>
          </div>
          <div class="col-sm-10">
            <%= mp.email_field :email, :class => "form-control", :readonly => "true" %></br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <%= mp.label :country_id, class: "control-label text-left-custom" %>
          </div>
          <div class="col-sm-10">
           <%= mp.select :country_id, Country.all.order("text_#{I18n.locale}").map{|c| [ c.send("text_#{I18n.locale}"), c.id]} ,{include_blank: true},{class: "form-control"}  %></br>
          </div>
        </div>
    </div>
  </div>
    <%= submit_tag t("update_button"), :class => "btn btn-primary pull-right" %>
<% end %>
