<%= render layout: 'search_box' do %>

  <!--<div class="row">-->
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label" for=""><%=t("activerecord.attributes.guide.guide_cities")%></label>
        <div class="col-sm-8">
          <!--%= f.text_field :city, class: 'form-control' %>-->
          <%= f.select :city, @city_masters.map{|t| [t.send("text_#{I18n.locale}"), t.id]},{include_blank: true},{class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for=""><%=t(".guide_language")%></label>
        <div class="col-sm-8">
          <!--%= f.text_field :city, class: 'form-control' %>-->
          <%= f.select :language, @language_masters.map{|t| [t.send("text_#{I18n.locale}"), t.id]},{include_blank: true},{class: "form-control"} %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label" for=""><%=t("activerecord.attributes.guide.license_flg")%></label>
        <div class="col-sm-8">
          <!--%= f.text_field :license, class: 'form-control' %>-->
          <label class="checkbox-inline col-sm-3">
            <%= f.check_box :license_has%><%=t("has")%>
          </label>
          <label class="checkbox-inline">
            <%= f.check_box :license_not%><%=t("not")%>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for=""><%=t("activerecord.attributes.member.gender")%></label>
        <div class="col-sm-8">
          <!--%= f.text_field :gender, class: 'form-control' %>-->
          <label class="checkbox-inline col-sm-3">
            <%= f.check_box :gender_man%><%=t("male")%>
          </label>
          <label class="checkbox-inline">
            <%= f.check_box :gender_woman%><%=t("female")%>
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 row text-center">
      <button id="btnSearchClear" class="btn btn-default btn-left"><%=t('clear_button')%></button>
      <button class="btn btn-default btn-primary" type="submit" name="main_search">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%= t('search_button')%>
      </button>
      <script>
        jQuery(function($){
          $("#btnSearchClear").on("click",function()
          {
            // テキストボックスの値をクリア
            $("#search_guide_form input[type='text']").attr("value",function(index,elem){
              return "";
            });
            // チェックボックスの値をクリア
            $("#search_guide_form input[type='checkbox']").prop("checked",function(index,elem){
              return false;
            });
            // selectの選択をクリア
            $("#search_guide_form select").val("");
            return false;
          });
        });
      </script>
    </div>
  </div>
<% end %>