<% content_for :main_header do %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= form_for(@search_guide, html: { method: :get,class: "form-horizontal",role: 'form',id: "search_guide_form"}) do |f| %>
        <%= render "search_form", f: f %>
      <% end %>
  
      <h1 class="page-header"><%=t(".search_result")%></h1>
    </div>
  </div>
</div>
<%end%>

<div class="row">
  <!--<% if @guides.length == 0 %>-->
  <!--  <span style="color:red;">お探しのガイドはいません！</span>-->
  <!--<% end%>-->
  <% @guides.each do |guide|  %>
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail" style="height:370px;overflow:hidden;">
        <!--ガイド詳細ページ遷移-->
        <%= link_to(member_image_tag(guide.member),guide_detail_path(guide)) %>
        <div class="caption">
          <div style="width:100%">
            <div class="row">
              <div class="col-md-12 textoverflow"><h3><%= guide.member.first_name + "  " + guide.member.last_name%></h3></div>
              <div class="col-md-12 textoverflow"><%= t("activerecord.attributes.guide.experience") +"：" + guide.experience.to_s + t("year")%></div>
              <div class="col-md-12 textoverflow"><%= t("activerecord.attributes.guide.license_flg")+"：" + (guide.license_flg.to_s === "1" ? t("has") : t("not")) %></div>
              <div class="col-md-12 textoverflow"><%= t("activerecord.attributes.member.gender")+"：" + (guide.member.gender.to_s === "1" ? t("male") : t("female")) %></div>
              <div class="col-md-12 textoverflow">
                <% city_str = ''%>
                <!--%binding.pry%>-->
                <% guide.guide_cities.each do |city|
                    unless city_str.empty?
                      city_str += ' | '
                    end
                    city_str += city.city_master.send("text_#{I18n.locale}")
                  end
                %>
                <%= t("activerecord.attributes.guide.guide_cities")+"：" + city_str%>
              </div>
              <div class="col-md-12 textoverflow">
                <% lang_str = ''%>
                <!--%binding.pry%>-->
                <% guide.guide_languages.each do |lang|
                    unless lang_str.empty?
                      lang_str += ' | '
                    end
                    lang_str += lang.language_code.send("text_#{I18n.locale}")
                  end
                %>
                <%= t(".guide_language")+"：" + lang_str%>
              </div>
            </div>
          </div>
        </div>
          <!--ガイド詳細ページ遷移-->
          <!--%= link_to(t("detail_button")+'>>',guide_detail_path(guide),class: "btn btn-sm btn-default") %>-->
        </div>
    </div>
  <% end%>
</div>