<% content_for :main_header do %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= form_for(@search_guide, html: { method: :get,class: "form-horizontal",role: 'form',id: "search_guide_form"}) do |f| %>
        <%= render "search_form", f: f %>
      <% end %>
  
      <h1 class="page-header">検索結果</h1>
    </div>
  </div>
</div>
<%end%>

<div class="row">
  <!--<% if @guides.length == 0 %>-->
  <!--  <span style="color:red;">お探しのガイドはいません！</span>-->
  <!--<% end%>-->
  <% @guides.each do |guide|  %>
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <!--ガイド詳細ページ遷移-->
        <%= link_to(member_image_tag(guide.member),guide_detail_path(guide)) %>
        <div class="caption">
          <h3><%= guide.member.first_name + "  " + guide.member.last_name%></h3>
          <p><%= "経験年数：" + guide.experience.to_s + "年"%></p>
          <p><%= "ライセンス：" + (guide.license_flg.to_s === "1" ? "有" : "無") %></p>
          <p><%= "ガイド都市：" + guide.guide_cities[0].city_master.text_ja %></p>
          <p><%= "性別：" + (guide.member.gender.to_s === "1" ? "男" : "女") %></p>
          <!--ガイド詳細ページ遷移-->
          <%= link_to('詳細>>',guide_detail_path(guide),class: "btn btn-sm btn-default") %>
        </div>
      </div>
    </div>
  <% end%>
</div>