<tr class="nested-fields">
  <td>
      <!--%= f.date_select :traveler_date,{},{class: "form-control", style: "display: inline; width: 30%"} %>-->
      <%= f.text_field :traveler_date,value: f.object[:traveler_date] ? f.object[:traveler_date].strftime("%Y-%m-%d") : f.object[:traveler_date],class: "form-control traveler-date-datepicker"%>
  </td>
  <td><%= f.text_field :traveler_count, class: "form-control" %></td>
  <td>
    <%= f.select :city_master_id, @booking.guide.guide_cities.map{|i| [i.city_master.send("text_#{I18n.locale}"), i.city_master.id ]} ,{}, {class: "form-control" } %>
  </td>
  <td>
    <%= link_to_remove_association '削除', f, class: "btn btn-default" %>
  </td>
  <%= f.hidden_field :id %>
</tr>
<script type="text/javascript">
  datePickerHandler(<%= @booking.guide.id%>);
</script>
