<b><%= t(".booking_schedule") %></b>

<div class="text-right margin-bottom-10">
  <%= link_to_add_association t(".add_schedule") , f, :booking_schedules,
    class: "btn btn-default",
    data: {
      association_insertion_node: "#detail-association-insertion-point",
      association_insertion_method: "append" }
   %>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.booking_schedule.traveler_date") %></th>
      <th><%= t("activerecord.attributes.booking_schedule.traveler_count") %></th>
      <th><%= t("activerecord.attributes.booking_schedule.city_master_id") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="detail-association-insertion-point">
    <%= f.fields_for :booking_schedules do |bs| %>
      <%= render "booking_schedule_fields", f: bs %>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  jQuery(document).ready(function($){
    $('#detail-association-insertion-point').on('click','tr > td:first-child > input[type=text]:not(.hasDatepicker)',function(){
      <%if @booking.id%>
        datePickerHandler($(this),<%= @booking.guide.id%>,<%= @booking.id%>);
      <%else%>
        datePickerHandler($(this),<%= @booking.guide.id%>,null);
      <%end%>
      $(this).focus();
    });
  });
</script>
