<% @Bookings.each do |booking| %>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="thumbnail">
      <img src="/assets/no-image.png">
      <div class="caption">
        <div class="text-primary">
          <h3>
            <%= booking.guide.member.last_name + " " + booking.guide.member.first_name %>
          </h3>
          <% if booking.user_review.present? %>
            <%= link_to star_image_tag(booking.user_review.star_master),  edit_user_review_path(booking.user_review) %>
            <%#= link_to "更新", edit_user_review_path(booking.user_review),
            class: "btn btn-primary"  %>
          <% else %>
            <%= link_to image_tag("/assets/ico_grade6_0.gif"), new_user_review_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.booking_schedule.traveler_date") %></th>
          <th><%= t("activerecord.attributes.booking_schedule.traveler_count") %></th>
          <th><%= t("activerecord.attributes.booking_schedule.traveler_location") %></th>
        </tr>
      </thead>
      <tbody>
        <% booking.booking_schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.traveler_date.strftime("%Y/%m/%d") %></td>
            <td><%= schedule.traveler_count  %></td>
            <td><%= schedule.city_master.send("text_#{I18n.locale}") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to booking.status_master.send("text_#{I18n.locale}"), "#", class: "btn btn-primary pull-right" %>
  </div>
</div>
<% end %>

<%= debug(params) if Rails.env.development? %>
