<!-- travelerでログインした時の予約一覧画面 -->
<% content_for :main_header do %>
  <!-- タブページレンダリングの際、選択したいタブのidを渡す[booking,in_message,out_message,profile]-->
  <%= render partial: "shared/tab_header", locals: {tab_id: 'booking'} %>
<% end %>

<% @Bookings.each do |booking| %>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <%= render "thumbnails", booking: booking %>
  </div>
  <div class="col-xs-12 col-sm-9">
    <%= render "table", booking: booking %>
    <%#= link_to booking.status_master.send("text_#{I18n.locale}"), "#", class: "btn btn-primary pull-right" %>
    <%= link_to booking.status_master.send("text_#{I18n.locale}"), edit_traveler_booking_path(booking), class: "btn btn-primary pull-right" %>
  </div>
</div>
<% end %>

<%= debug(params) if Rails.env.development? %>
