<%= render "tab" %>

<% @bookings.each do |booking| %>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <%= render "thumbnail", booking: booking %>
  </div>
  <div class="col-xs-12 col-sm-9">
    <button class="btn btn-info margin-bottom-10">
      <%= booking.status_master.send("text_#{I18n.locale}")%>
    </button>

    <%= render "table", booking: booking %>

    <div class="col-sm-offset-3 col-sm-9 text-right">
      <% if booking.status_master.id == 1 %>
        <%= link_to t("update_button"), edit_traveler_booking_path(booking), class: "btn btn-primary" %>
        <%= link_to t("delete_button"), traveler_booking_path(booking), method: :delete , class: "btn btn-primary", data: {confirm: t("delete_confirmation")}%>
      <% elsif booking.status_master.id == 3 %>
        <%= link_to t("detail_button"), traveler_booking_path(booking), class: "btn btn-primary" %>
        <%= link_to t("delete_button"), traveler_booking_path(booking), method: :delete , class: "btn btn-primary", data: {confirm: t("delete_confirmation")}%>
      <% else %>
        <%= link_to t("detail_button"), traveler_booking_path(booking), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<%#= paginate @bookings %>

<div class="row">
  <div class="col-xs-12 text-right">
    <%= paginate @bookings %>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>
