<!DOCTYPE html>
<html>
<head>
  <title>Tabitomo</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "i18n" %>
  <%= javascript_include_tag "translations" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<body>
  <!--ヘッダメニューバー -->
  <header id="layout_header" class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- 小さいサイズのディスプレイの際表示するトップの際表示するトップバー -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">MEMU</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to('Tabitomo', top_path, class: "navbar-brand" )%>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <% if member_signed_in? %>
                <li><%= link_to current_member.first_name, current_member.guide ? guide_bookings_path : traveler_bookings_path%></a></li>
                <li><%= link_to "サインアウト", destroy_member_session_path, :method => :delete %></a></li>
                <%else%>
                <li><%= link_to t('login_link'), new_member_session_path, :method => :new %></li>
                <li><%= link_to t('member_sigup_link'), new_member_registration_path%></li>
                <% end %>
                <li class="dropdown">
                  <a id="language_change" href="#" onClick="language_click()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span><%= @language_name%> </span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" style="min-width: 100px" role="memu">
                    <li><%= link_to('日本語', (request.path.gsub(/\/ja|\/en|\/ko|\/zh/,'') == '' ? '/' : request.path.gsub(/\/ja|\/en|\/ko|\/zh/,'')) )%></li>
                    <li><%= link_to('English', '/en' + (request.path.gsub(/\/ja|\/en|\/ko|\/zh/,'') == '/' ? '' : request.path.gsub(/\/ja|\/en|\/ko|\/zh/,'')) )%></li>
                    <li><%= link_to('한국어', '/ko' + (request.path.gsub(/\/ja|\/en|\/ko|\/zh/,'') == '/' ? '' : request.path.gsub(/\/ja|\/en|\/ko|\/zh/,'')) )%></li>
                    <li><%= link_to('中文', '/zh' + (request.path.gsub(/\/ja|\/en|\/ko|\/zh/,'') == '/' ? '' : request.path.gsub(/\/ja|\/en|\/ko|\/zh/,'')) )%></li>
                  </ul>
                </li>
              </ul>
              <%= form_for(@top_search_guide, url: search_guides_path, html: { method: :get, class: 'navbar-form navbar-right', role: 'search' }) do |f| %>
                <%= f.text_field :city, class: 'form-control',:placeholder => t('search_place'),:size => "30",:id => "txtNavSearchCity" %>
                <!--%= submit_tag t('search_button'),:name => "top_search",:class => "btn btn-primary"%>-->
                <button class="btn btn-default btn-primary" type="submit" name="nav_search">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%= t('search_button')%>
                </button>
              <% end %>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </header>

  <main id="layout_main">
    <!--コンテンツのヘッダー -->
    <%= yield :main_header%>

    <div class="container">
      <!--メインコンテンツ -->
      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <%= yield%>
    </div>
  </main>
  <!--フーター内容 -->
  <footer id="layout_footer">
    <div class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div style="background-color:gray;">
              footer content  <br>
              footer content  <br>
              footer content  <br>
              footer content  <br>
              footer content
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      jQuery(function($){
        $(window).on("load resize",function(){
          var innerHeight = $(window).height();
          var bodyHeight = $("body").height();
          if(innerHeight > bodyHeight){
            var height = innerHeight - bodyHeight + $("#layout_main").height();
            $("#layout_main").height(height);
          }
        });
      });
    </script>
  </footer>
  </body>
</html>
