<!DOCTYPE html>
<html>
<head>
  <title>Tabitomo</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!--%= javascript_include_tag "i18n" %>-->
  <!--%= javascript_include_tag "translations" %>-->
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<body>
  <!--ヘッダメニューバー -->
  <%= render "shared/header_menu" %>

  <main id="layout_main">
    <!--コンテンツのヘッダー -->
    <%= yield :main_header%>

    <div class="container">
      <!--インフォメッセージ -->
      <%= render "shared/info" %>
      <!--エラーメッセージ -->
      <%= yield :error_messages%>
      <!--メインコンテンツ -->
      <%= yield%>
    </div>
  </main>
  <!--フーター内容 -->
  <footer id="layout_footer">
    <%#<div class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div style="background-color:gray;">
              footer content  <br>
              footer content  <br>
              footer content  <br>
              footer content  <br>
              footer content
            </div>
          </div>
        </div>
      </div>
    </div>%>
    <script>
      jQuery(document).ready(function($){
        //$(window).on("load resize",function(){
        //  var innerHeight = $(window).height();
        //  var bodyHeight = $("body").height();
        //  if(innerHeight > bodyHeight){
        //    var height = innerHeight - bodyHeight + $("#layout_main").height();
        //    $("#layout_main").height(height);
        //  }
        //});
          
        $(document).on('click','a[href="#"]',function(){
          return false;
        });
        
        // 言語切り替えリンク初期化
        $('#language_list li').removeClass('disabled')
                              .find('[data-language="'+ I18n.locale +'"]').parent().addClass('disabled');
        $('#language_name').text($('#language_list li.disabled a').text());
        // datepickerの言語設定
        setDatePickerLanguage();
        // 言語切り替えクリック処理
        $(document).on('click','#language_list a[data-language]',function(event){
          //リンクの既存処理を止める
          event.preventDefault();
          //言語切り替えがクリックされたとき、ドロップダウンメニューの選択の制御
          //該当言語の方はクリックできないようにする
          $('#language_name').text(this.text);
          I18n.locale = $('#language_list li').removeClass('disabled').find(this).addClass('disabled').attr('data-language');
          // datepickerの言語設定
          setDatePickerLanguage();
          //今のページの上で言語切り替え
          window.location.assign(window.location.pathname.replace(/(^\/en|\/ja|\/ko|\/zh)?/,'/'+$(this).attr('data-language')));
          
        });
        
        // datepickerの言語設定処理
        function setDatePickerLanguage(){
          switch (I18n.locale) {
            case 'en':
              $.datepicker.setDefaults($.datepicker.regional['en-GB']);
              break;
            case 'ko':
              $.datepicker.setDefaults($.datepicker.regional['ko']);
              break;
            case 'zh':
              $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
              break;
            default:
              $.datepicker.setDefaults($.datepicker.regional['ja']);
              break;
          }
        }
      });
    </script>
  </footer>
  </body>
</html>
