<!DOCTYPE html>
<html>
<head>
  <title>Tabitomo</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "i18n" %>
  <%= javascript_include_tag "translations" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<body>
  <!--ヘッダメニューバー -->
  <header id="layout_header" class="container">
    <div class="row">
      <div class="col-sm-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- 小さいサイズのディスプレイの際表示するトップの際表示するトップバー -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">MEMU</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tabitomo</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><%= t('login_link')%></a></li>
              <li><a href="#"><%= t('member_sigup_link')%></a></li>
              <li><a href="#"><%= t('guide_sigup_link')%></a></li>
              <li class="dropdown">
                <a id="language_change" href="#" onClick="language_click()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span><%= @language_name%> </span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="min-width: 100px" role="memu">
                  <li><%= link_to('日本語', top_path(locale: 'ja')  ) %></li>
                  <li><%= link_to('English', top_path(locale: 'en')) %></li>
                  <li><%= link_to('韓国語', top_path(locale: 'ko')) %></li>
                  <li><%= link_to('中文', top_path(locale: 'zh')) %></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" size="30" placeholder="<%= t('search_place')%>">
              </div>
              <button type="submit" class="btn btn-primary"><%= t('search_button')%></button>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    </div>
  </header>
  
  <main id="layout_main">
    <div class="container margin-bottom-20">
      <!--コンテンツのヘッダー -->
      <%= yield :main_header%>
    </div>
    <div class="container">
      <!--メインコンテンツ -->
      <%= yield%>
    </div>
  </main>
  <!--フーター内容 -->
  <footer id="layout_footer">
    <div class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div style="background-color:gray;">
              footer content  <br> 
              footer content  <br> 
              footer content  <br>
              footer content  <br> 
              footer content   
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      jQuery(function($){
        $(window).on("load resize",function(){
          var innerHeight = $(window).height();
          var bodyHeight = $("body").height();
          if(innerHeight > bodyHeight){
            var height = innerHeight - bodyHeight + $("#layout_main").height();
            $("#layout_main").css("min-height", height + "px");
            $("#layout_main").height(height);
          }
        });
      });
    </script>
  </footer>
  </body>
</html>
